h1, h3{
    color: #005677;
    background-color: #C4C4C4;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header{
    text-align: center;
}

.foto {
    width: 200px;
}

span {
    font-weight: bold;
}

.section1 span{
    font-style: oblique;
    font-weight: bold;
}

.puesto {
    padding-left: 80px;;
}

footer{
    background-color: #005677;
    display: block;
    width: 99%;
    text-align: center;
    color: white;
    padding: 10px;
}

footer img{
    padding-left: 10px;
    padding-right: 10px;
}

.vacia {
    height: 30px; 
    background-color: white;
}
